@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Chettan 2", "Cabin", sans-serif;
}
.row > * {
  padding: 0 !important;
}
.home {
  background-image: url("./risingsun.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  /* background-position-y: center; */
}
/* ////////////////// NAVBAR /////////////////////////// */

nav a,
nav a:link,
nav a:visited {
  padding-bottom: 1px;
  color: rgb(250, 250, 250) !important;
  border-bottom: 2px solid transparent;
  transition: all 400ms ease;
}
nav a:hover,
nav a:active {
  color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(221, 104, 149);
}
.navbar-brand:hover {
  border-bottom: 2px solid whitet;
}

/* ////////////////////////// HEADER ////////////////////////// */
